#clock {
    position:relative;
    width:10em;
    height:10em;
    /*line-height:1.2em;*/
    margin:0 auto;
    border:0.13rem solid #474747;
    border-radius:50%;
    box-shadow:inset 0 0 0.13rem #474747;
}

#clock *,
#clock *:before,
#clock *:after {
    box-sizing:border-box;
    background-clip:padding-box;
}

#clock:before,
#clock:after,
#clock b:before,
#clock b:after {
    position:absolute;
    width: 1.6em;
}

#clock b {
    position:absolute;
    top:4.74em;
    width:100%;
}

#clock:before,
#clock:after {
    left:4.74em;
}

#clock:before {
    content:"";
    top: 0.17em;
    width: 0.5em;
    height: 1.5em;
    background-color: #000;
}

#clock:after {
    content:"";
    bottom:0.17em;
    width: 0.5em;
    height: 1.5em;
    background-color: #000;
}

#clock b:before {
    left:0.17em;
    content:"";
    width: 1.5em;
    height: 0.5em;
    background-color: #000;
}

#clock b:after {
    right:0.17em;
    content:"";
    width: 1.5em;
    height: 0.5em;
    background-color: #000;
}

#clock span {
    position:absolute;
    top:0.17em;
    left:4.74em;
    width:0.5em;
    height: 9.67em;
    z-index: -10;
}

#clock span + span {
    transform:rotate(90deg);
}

#clock i,
#clock span:before,
#clock span:after {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content: "";
}

#clock span:before,
#clock span:after {
    content:"";
    border-style:solid;
    border-color:#000;
    border-width:1.5em 0;
    transform:rotate(30deg);
}

#clock span:after {
    transform:rotate(60deg);
}
#clock .twelfth{
    position:absolute;
    top: 0;
    left: 4.92em;
    width: 0.16em;
    height: 96%;
    z-index: 10;
}
#clock .twelfth::before,
#clock .twelfth::after{
    position:absolute;
    top: 0.23em;
    left: 0;
    width: 100%;
    height: 100%;
    border-style:solid;
    border-color:#000;
    border-width:0.23em 0;
    z-index: -10;
}
#clock .first + .first{
    transform: rotate(12deg);
}
#clock .first::before,
#clock .first::after{
    content: "";
    transform: rotate(6deg);
}
#clock .first::after{
    transform: rotate(12deg);
}
#clock .second + .second{
    transform: rotate(12deg);
}
#clock .second::before,
#clock .second::after{
    content: "";
    transform: rotate(36deg);
}
#clock .second::after{
    transform: rotate(42deg);
}
#clock .third + .third{
    transform: rotate(12deg);
}
#clock .third::before,
#clock .third::after{
    content: "";
    transform: rotate(66deg);
}
#clock .third::after{
    transform: rotate(72deg);
}
#clock .fourth + .fourth{
    transform: rotate(12deg);
}
#clock .fourth::before,
#clock .fourth::after{
    content: "";
    transform: rotate(96deg);
}
#clock .fourth::after{
    transform: rotate(102deg);
}
#clock .fifth + .fifth{
    transform: rotate(12deg);
}
#clock .fifth::before,
#clock .fifth::after{
    content: "";
    transform: rotate(126deg);
}
#clock .fifth::after{
    transform: rotate(132deg);
}
#clock .sixth + .sixth{
    transform: rotate(12deg);
}
#clock .sixth::before,
#clock .sixth::after{
    content: "";
    transform: rotate(156deg);
}
#clock .sixth::after{
    transform: rotate(162deg);
}
#clock i {
    box-sizing: border-box;
    z-index:2;
    left:4.74em;
    width:0.6em;
}

#clock i:first-of-type {
    background-color: #000;
    top: 1.68em;
    width: 0.5em;
    height: 4.5em;
    animation: rotate 360s linear infinite;
    transform-origin: 0.25em 3.35em;
}

strong{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.001);
    transform-origin: 0.65em 3.35em;
}
strong::after {
    content: '';
    display: block;
    width: 0.6em;
    height: 0.6em;
    border-radius: 100%;
    background: rgba(255,128,128,0.75);
    transform: scale(1000);
}
#clock i:nth-of-type(2){
    background-color: #000;
    top: 0.4em;
    left: 4.75em;
    width: 0.5em;
    height: 5.9em;
    animation: rotate 30s linear infinite;
    transform-origin: 0.25em 4.6em;
}

#clock i:nth-of-type(3){
    background-color: #F00;
    border-color: transparent;
    top: 1.8em;
    left: 4.9em;
    width: 0.2em;
    height: 4.4em;
    z-index: 10;
    animation: rotate 10s linear infinite;
    transform-origin: 0.1em 3.2em;
}
#clock i:last-of-type {
    background-color:#F00;
    top: 1.67em;
    left: 4.35em;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    z-index: 100;
    animation: rotate 10s linear infinite;
    transform-origin: 0.65em 3.35em;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}