#clock {
    position:relative;
    width:10em;
    height:10em;
    line-height:1.2em;
    margin:0 auto;
    border:0.13rem solid #474747;
    border-radius:50%;
    box-shadow:inset 0 0 0.09rem #474747;
      /*-0.25em -0.5em 0.5em #FFFC,
      0 0 0.0225em 0.05em #474747,*/
      /*0 0 0.0025em 0.025em #000,*/
      /*0.0125em 0.025em 0.05em 0.05em #0004;*/
}

#clock *,
#clock *:before,
#clock *:after {
    box-sizing:border-box;
    /*background-clip:padding-box;*/
}

#clock:before,
#clock:after,
#clock b:before,
#clock b:after {
    position:absolute;
    width:1.6rem;
    /*text-align:center;*/
}

#clock b {
    position:absolute;
    top:4.74em;
    width:100%;
}

#clock:before,
#clock:after {
    left:4.74em;
}

#clock:before {
    content:"";
    top: 0.19em;
    width: 0.5em;
    height: 1.5em;
    background-color: #000;
}

#clock:after {
    content:"";
    bottom:0.17em;
    width: 0.5em;
    height: 1.5em;
    background-color: #000;
}

#clock b:before {
    left:0.17em;
    content:"";
    width: 1.4em;
    height: 0.5em;
    background-color: #000;
}

#clock b:after {
    right:0.23em;
    content:"";
    width: 1.4em;
    height: 0.5em;
    background-color: #000;
}

#clock span {
    position:absolute;
    top:0.2em;
    left:4.77em;
    width:0.53em;
    /*padding-top: 1.4em;*/
    height:96%;
    /*background-color: aqua;*/
    /*transform:rotate(90deg);*/
    z-index: -10;
}

#clock span + span {
    transform:rotate(90deg);
}

#clock i,
#clock span:before,
#clock span:after {
    position:absolute;
    top:0;
    left:0;
    width:90%;
    height:100%;
    content: "";
    /*margin-top: 0.25em;
    margin-bottom: 0.25em;*/
    /*background-color: bisque;*/
}

#clock span:before,
#clock span:after {
    content:"";
    border-style:solid;
    border-color:#000;
    border-width:1.4em 0;
    transform:rotate(30deg);
}

#clock span:after {
    transform:rotate(60deg);
}
#clock .twelfth{
    /*box-sizing: border-box;*/
    position:absolute;
    top: 0;
    left: 4.92em;
    width: 0.16em;
    height: 96%;
    /*background-color: bisque;*/
    z-index: 10;
    /*transform: rotate(6deg);*/
    /*visibility: hidden;*/
}
#clock .twelfth::before,
#clock .twelfth::after{
    /*box-sizing: border-box;*/
    position:absolute;
    top: 0.23em;
    left: 0;
    width: 100%;
    height: 100%;
    border-style:solid;
    border-color:#000;
    border-width:0.23em 0;
    /*background-color: rgb(126, 123, 119);*/
    z-index: -10;
}
#clock .first + .first{
    transform: rotate(12deg);
}
#clock .first::before,
#clock .first::after{
    content: "";
    transform: rotate(6deg);
}
#clock .first::after{
    transform: rotate(12deg);
}
/*#clock .second{
    /*box-sizing: border-box;*/
    /*position:absolute;
    top: 0;
    left: 4.92em;
    width: 0.16em;
    height: 100%;
    background-color: bisque;
    z-index: 10;
}*/
#clock .second + .second{
    transform: rotate(12deg);
}
#clock .second::before,
#clock .second::after{
    content: "";
    transform: rotate(36deg);
}
#clock .second::after{
    transform: rotate(42deg);
}
/*#clock .third{
    /*box-sizing: border-box;*/
    /*position:absolute;
    top: 0;
    left: 4.92em;
    width: 0.16em;
    height: 100%;
    background-color: bisque;
    z-index: 10;
}*/
#clock .third + .third{
    transform: rotate(12deg);
}
#clock .third::before,
#clock .third::after{
    content: "";
    transform: rotate(66deg);
}
#clock .third::after{
    transform: rotate(72deg);
}
/*#clock .fourth{
    /*box-sizing: border-box;*/
    /*position:absolute;
    top: 0;
    left: 4.92em;
    width: 0.16em;
    height: 100%;
    background-color: bisque;
    z-index: 10;
}*/
#clock .fourth + .fourth{
    transform: rotate(12deg);
}
#clock .fourth::before,
#clock .fourth::after{
    content: "";
    transform: rotate(96deg);
}
#clock .fourth::after{
    transform: rotate(102deg);
}
/*#clock .fifth{
    /*box-sizing: border-box;*/
    /*position:absolute;
    top: 0;
    left: 4.92em;
    width: 0.16em;
    height: 100%;
    background-color: bisque;
    z-index: 10;
}*/
#clock .fifth + .fifth{
    transform: rotate(12deg);
}
#clock .fifth::before,
#clock .fifth::after{
    content: "";
    transform: rotate(126deg);
}
#clock .fifth::after{
    transform: rotate(132deg);
}
/*#clock .sixth{
    /*box-sizing: border-box;*/
    /*position:absolute;
    top: 0;
    left: 4.92em;
    width: 0.16em;
    height: 100%;
    background-color: bisque;
    z-index: 10;
}*/
#clock .sixth + .sixth{
    transform: rotate(12deg);
}
#clock .sixth::before,
#clock .sixth::after{
    content: "";
    transform: rotate(156deg);
}
#clock .sixth::after{
    transform: rotate(162deg);
}
#clock i {
    box-sizing: border-box;
    z-index:2;
    left:4.74em;
    width:0.6em;
    border-color:#000;
    border-style:solid;
    border-width: 0.1em;
    /*border-bottom-width: 4.5em;*/
    /*border-radius:40%;*/
}

#clock i:first-of-type {
    background-color: #000;
    top: 0.8em;
    width: 0.5em;
    height: 20%;
    border-width: 2.7em 0;
    /*background-color: tomato;*/
    /*left: 4.68em;*/
}

#clock i:nth-of-type(2){
    background-color: #000;
    top: 2.5em;
    width: 0.5em;
    height: 20%;
    border-top-width: 2.7em;
    border-bottom-width: 1em;
    /*border-color: tomato;
    background-color: tomato;*/
}

#clock i:nth-of-type(3){
    background-color: #F00;
    border-color: transparent;
    top: 1.8em;
    /*width: 20%;*/
    height: 20%;
    border-width: 1.71em 0;
    width: 0.19em;
    left: 4.9em;
    z-index: 10;
}
#clock i:last-of-type {
    background-color:#F00;
    top: 1.57em;
    left: 4.35em;
    width: 1.3em;
    height: 1.3em;
    /*border-width: 2.5em;*/
    border-radius: 50%;
    z-index: 100;
    border-color: #F00;
    border-top-width: 0;
    border-bottom-width: 0;
}
/*#clock i:nth-of-type(3),
#clock i:last-of-type{
    transform-origin: center;
    transform: rotate(34deg);
}*/

/*#clock i:last-of-type:before,
#clock i:last-of-type:after {
    content:"";
    position:absolute;
    border-radius:50%;
}*/

/*#clock i:last-of-type:before {
    top:4.57em;
    left:-0.375em;
    width:1em;
    height:1em;
    background:#000;
}

#clock i:last-of-type:after {
    top:4.83em;
    left:-0.25em;
    width:0.5em;
    height:0.5em;
    background:#ABC;
}*/
/*:root{
    --degree: 80deg;
    --color: red;
}*/
/*#clock-body{*/
    /*height:200px;
    width:200px;
    border-radius:50%;
    background: conic-gradient(
        var(--color) var(--degree), transparent calc(var(--degree) + 0.5deg) 20%);*/
    /*box-sizing: border-box;
    position: relative;
    margin-top: 120px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 4px solid #000;
    background-color: #b2b2b2;
}*/
/*#clock-show-time{
    /*height:84%;
    width:84%;
    top:8%;
    left:8%;
    position:relative;
    border-radius:50%;
    background:#D3D3D3;*/
    /*overflow: hidden;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 3px solid red;
    transform: translate(20px,20px);
}*/
/*#clock-show-time::before{
    box-sizing: border-box;
    display: block;
    border: solid 1px red;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    transform: skewX(-30deg);
    content: '';
}*/
/*#clock-face-one{
    position: absolute;
    box-sizing: border-box;
    top: 6px;
    left: 165px;
    width: 10px;
    height: 10px;
    background-color: red;
    transform-origin: 50% 50%;
    transform: translate(0, 0) rotate(0deg);
}
#clock-face-two{
    position: absolute;
    box-sizing: border-box;
    top: 6px;
    left: 165px;
    width: 10px;
    height: 10px;
    background-color: red;
    transform-origin: 50% 50%;
    transform: translate(90px, 30px) rotate(35deg);
}
#clock-face-three{
    position: absolute;
    box-sizing: border-box;
    top: 6px;
    left: 165px;
    width: 10px;
    height: 10px;
    background-color: red;
    transform-origin: 50% 50%;
    transform: translate(150px, 100px) rotate(70deg);
}*/